{% macro fallback(address) %}
{# No-Javascript fallback URL address #}
fallback.php?seed={{- obfuscator.seed -}}&amp;href={{- ("mailto:" ~ address)|obfuscate -}}
{%- endmacro -%}

{% macro mailto(address, name) %}
<a href="{{ _self.fallback(address) }}" onmouseover="klg.obfuscator.href(this)">{{ name }}</a>
{%- if obfuscator.loaded == false %}
<script type="text/ecmascript" defer="defer"{#
  #} src="script.php?seed={{ obfuscator.seed }}"></script>
{%- do obfuscator.loaded(true) %}
{% endif %}
{% endmacro -%}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Obfuscator example</title>
  </head>
  <body>
    <p>
    Source should be self-explanatory.
    Hover the mouse pointer over one of those:
    </p>
    <ul>
      {% for user in people %}
      <li>{{ _self.mailto(user.mail, user.name) }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
